---
layout: default
title: Contacts
permalink: /contacts/
hero_img: hero-alt.jpg
description: I membri della crew, al vostro servizio!
---


<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ page.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div style="min-height: 350px;">&nbsp;</div>
    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contact Us</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Phone:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.emergency %}<li><strong>Emergency:</strong> {{ site.contact.emergency }}</li>{% endif %}
            {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Opening Hours</h3>
        <table>
            <tbody>
            <tr>
                <td>Monday – Friday</td>
                <td>{{ site.monday_friday }}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>{{ site.saturday }}</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>{{ site.sunday }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Location</h3>
        <p>
            {{ site.contact.address }}
        </p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start Map -->
<div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div>
<!-- End Map -->
